.container{
 display: flex;
 flex-direction: column;
 height: 100vh;
}
.header{
 flex: 25%;
 background-color: lightgray;
 background:url("108A0231-187C-43E0-8CB0-D92EBA6A7D5E.png") center;
}
.menu{
 flex: 5%;
 background-color: hotpink;
 color:white;
 display:flex;
 align-items:center;
}
.menu a{
 padding: 15px 20px;
 color: white;
}
.menu a:hover{
 background-color: Salmon;
 color: black;
}
.content{
 flex: 70%;
 background-color: white;
}
.content iframe{
 flex: 1;
 border: none;
 width: 100%;
 height: 100%;
}
.footer{
 flex: 10%;
 background-color: lightgray;
}
h1 {
  color: red;
  top-margin: 25pt;
  vertical-align: top;
}
.tuade {
color: tomato;
font-family: Arial;
top-margin: 20pt;
font-size: 20pt;
font-weight: bold;
}
.noidung {
color: black;
font-family: "Times New Roman";
top-margin: 6pt;
font-size: 15pt;
font-style: normal;
}
